div#teste2 {
      color: #ffffff;
      font-family:Monospace;
      font-size:13px;
      text-align:center;
      font-weight: bold;
      background-color: #000000;
      margin: 0px;
      overflow: hidden;
}

div#teste2  canvas {
      vertical-align: top;
} 

div#teste2  div#info {
      color: #fff;
      position: absolute;
      top: 10px; width: 100%;
      padding: 5px;
      z-index:100;
}