div#teste3 {
      background-color: #000000;
      margin: 0;
      overflow: hidden;
}
div#teste3  div {
      position: absolute;
      z-index: 100;
      padding: 10px 0 0 10px;
}
#buttons3 {
      position: absolute;
      z-index: 5;
      bottom: 5px; 
}

		